*.conf
*.db
*.geany
*.html
*.log
*.py[cod]
*.yml
build/*
data/*/king_phisher/plugins/*
dist/*

!data/server/king_phisher/error_*.html
!data/server/king_phisher/server_config.yml
!data/server/king_phisher/service_files/*
!data/*/king_phisher/*/*.html
