[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==40.4.3"
alembic = "==1.0.2"
blinker = "==1.4"
boltons = "==18.0.1"
cryptography = "==2.3.1"
Cython = "==0.29"
dnspython = "==1.15.0"
ecdsa = "==0.13"
"geoip2" = "==2.9.0"
geojson = "==2.4.1"
graphene = "==2.1.3"
graphene-sqlalchemy = "==2.1.0"
graphql-relay = "==0.4.5"
icalendar = "==4.0.3"
ipaddress = "==1.0.22"
jsonschema = "==2.6.0"
matplotlib = "==3.0.2"
msgpack-python = "==0.5.6"
paramiko = "==2.4.2"
pluginbase = "==0.5"
"psycopg2" = "==2.7.3.2,<2.8"
py-gfm = "==0.1.3"
pygobject = "==3.28.3"
pyotp = "==2.2.6"
python-dateutil = "~=2.7"
python-pam = "==1.8.3"
pytz = "==2018.4"
requests = "==2.21.0"
requests-file = "==1.4.3"
six = "==1.11.0"
smoke-zephyr = "==1.4.0"
termcolor = "==1.1.0"
tzlocal = "==1.5.1"
websocket-client = "==0.49.0"
AdvancedHTTPServer = "~=2.2.0"
email_validator = "==1.0.3"
"Jinja2" = "==2.10"
Markdown = "==2.6.11"
MarkupSafe = "==1.1.0"
PyYAML = "==5.1"
SQLAlchemy = "==1.2.6"
XlsxWriter = "==0.9.6"
numpy = "==1.14.5"
basemap = {file = "https://github.com/matplotlib/basemap/archive/v1.2.0rel.tar.gz"}
rule-engine = "~=1.1.0"
pyproj = "==1.9.6"

[dev-packages]
sphinx = "==1.7.9"
sphinxcontrib-httpdomain = "==1.5.0"
sphinx-rtd-theme = "==0.4.2"
ipython = "==7.1.1"
pyopenssl = "==18.0.0"
ipdb = "*"

[scripts]
KingPhisher = "python -m king_phisher.client"
KingPhisherServer = "python -m king_phisher.server"
unittest = "python -m unittest -v tests"

[pipenv]
allow_site_packages = true
