[Desktop Entry]
Name=King Phisher
GenericName=King Phisher
Exec=python /opt/king-phisher/KingPhisher
Terminal=false
Type=Application
Categories=Network;Security;
Comment=Phishing Campaign Toolkit
Icon=king-phisher-icon
