/* default.css */

body
{
	background-color:#303030;
	font-family:Helvetica, Arial, sans-serif;
}

h1
{
	color: #4682b4;
}

#wrapper
{
	background-color: #fff;
	box-shadow: 4px 4px 5px #000;
	border-radius: 5px;
	padding: 30px;
	width:700px;
	margin: auto;
	margin-top: 20px;
	padding-top:10px;
	text-align:justify;
}

#list
{
	text-align: center;
}

#list ul
{
	list-style: square;
	list-style-position: inside;
}

#list ul li
{
	text-align: center;
}

#wrapper table
{
	width:100%;
}

#iframe
{
	text-align:center;
}

.right
{
	float:right;
}

.credits
{
	font-family:Helvetica, Arial, sans-serif;
	font-size: 10px;
	text-align: right;
}

a
{
	text-decoration: none;
	color: #666;
}

a:hover
{
	color: #999;
}

img
{
	border-style: initial;
	border-color: initial;
	border-width: 0px;
}
