/* default.css */

body
{
  background-color:#303030;
  font-family:Helvetica, Arial, sans-serif;
}

h1
{
  color: #4682b4;
}

#wrapper
{
  background-color: #fff;
  box-shadow: 4px 4px 5px #000;
  border-radius: 5px;
  padding: 30px;
  width:700px;
  margin: auto;
  margin-top: 20px;
  padding-top:10px;
  text-align:justify;
}

#wrapper table
{
  width:100%;
}

img
{
  border-style: initial;
  border-color: initial;
  border-width: 0px;
}
