$theme_color_0: #00203a;
$theme_color_1: #5d84a8;
$theme_color_2: #00bf8c;
$theme_color_bg: shade($theme_color_0, 1.2);
$theme_color_fg: #ffffff;
$theme_color_tv_bg: $theme_color_0;
$theme_color_tv_fg: #ffffff;
$theme_color_tv_hobg: $theme_color_1;
$theme_color_tv_hofg: #ffffff;

/* two primary colors for mixing and one for highlighting */
@define-color theme_color_0 #{"" + $theme_color_0};
@define-color theme_color_1 #{"" + $theme_color_1};
@define-color theme_color_2 #{"" + $theme_color_2};
@define-color theme_color_bg #{"" + $theme_color_bg};

/* treeview normal */
@define-color theme_color_tv_bg #{"" + $theme_color_tv_bg};
@define-color theme_color_tv_fg #{"" + $theme_color_tv_fg};
/* treeview highlight */
@define-color theme_color_tv_hlbg @theme_color_2;
@define-color theme_color_tv_hlfg white;
/* treeview hover */
@define-color theme_color_tv_hobg #{"" + $theme_color_tv_hobg};
@define-color theme_color_tv_hofg #{"" + $theme_color_tv_hofg};
/* graph colors */
@define-color theme_color_graph_bg #254866;
@define-color theme_color_graph_fg #ffffff;
@define-color theme_color_graph_bar_bg #3c5b77;
@define-color theme_color_graph_bar_fg #c0dcff;
@define-color theme_color_graph_line_bg #92a4b3;
@define-color theme_color_graph_line_fg #002645;
@define-color theme_color_graph_map_land #3c5b77;
@define-color theme_color_graph_map_marker1 #ffc20f;
@define-color theme_color_graph_map_marker2 @theme_color_2;
@define-color theme_color_graph_map_water #c0dcff;
@define-color theme_color_graph_pie_high #c0dcff;
@define-color theme_color_graph_pie_low #3c5b77;
