$transition: 200ms ease-out;

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

/* background mixins */
@mixin bg-opaque() {
  background-color: $theme_color_bg;
  background-image: none;
  color: $theme_color_fg;
}

/* border mixins */
@mixin bo-opaque() {
  border: 1px solid;
  border-color: $theme_color_bg;
  border-radius: 3px;
  &:disabled {
    border-color: white;
  }
}

/* button mixins */
@mixin btn-text() {
  background-image: none;
  border: 1px solid;
  border-color: transparent;
  border-radius: 3px;
  padding: 2px 2px 4px;
  transition: $transition;
  &:hover {
    @include bo-opaque();
    background-color: gtkalpha($theme_color_0, 0.8);
    color: $theme_color_1;
    padding: 2px 2px 4px;
  }
}
