-i https://pypi.org/simple
advancedhttpserver==2.0.11
alembic==0.9.7
asn1crypto==0.24.0
bcrypt==3.1.4
blinker==1.4
boltons==18.0.0
certifi==2018.10.15
cffi==1.11.5 ; platform_python_implementation != 'PyPy'
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
dnspython==1.15.0
ecdsa==0.13
email-validator==1.0.3
geoip2==2.8.0
geojson==2.3.0
graphene-sqlalchemy==2.0.0
graphene==2.0.1
graphql-core==2.1
graphql-relay==0.4.5
# https://github.com/matplotlib/basemap/archive/v1.2.0rel.tar.gz#egg=basemap -i https://pypi.org/simple
icalendar==4.0.1
idna==2.6
ipaddress==1.0.19
iso8601==0.1.12
jinja2==2.10
jsonschema==2.6.0
kiwisolver==1.0.1
mako==1.0.7
markdown==2.6.11
markupsafe==1.0
matplotlib==2.2.2
maxminddb==1.4.1
msgpack-python==0.5.6
numpy==1.14.5
paramiko==2.4.0
pluginbase==0.5
promise==2.2.1
psycopg2==2.7.3.2
py-gfm==0.1.3
pyasn1==0.4.4
pycairo==1.17.1
pycparser==2.19
pygobject==3.28.3
pynacl==1.3.0
pyotp==2.2.6
pyparsing==2.2.2
python-dateutil==2.7.2
python-editor==1.0.3
python-pam==1.8.3
pytz==2018.4
pyyaml==3.12
requests-file==1.4.3
requests==2.18.4
rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
smoke-zephyr==1.2.0
sqlalchemy==1.2.6
termcolor==1.1.0
tzlocal==1.5.1
urllib3==1.22
websocket-client==0.49.0
xlsxwriter==0.9.6

# additional sphinx-specific requirements
sphinxcontrib-httpdomain>=1.5.0
