# this is a pip requirements file specifically for the ReadTheDocs environment
# because it can not install certain packages such as matplotlib
alembic>=0.8.4
boltons>=15.1.1
dnspython>=1.12.0
geoip2>=2.2.0
geojson>=1.3.1
icalendar>=3.9.1
Jinja2>=2.8
markupsafe>=0.23
msgpack-python>=0.4.6
paramiko>=1.16.0
py2-ipaddress==3.4.1
pyotp>=2.0.1
python-dateutil>=2.4.2
python-pam>=1.8.2
pytz>=2015.7
PyYAML>=3.11
requests>=2.9.1
six>=1.10.0
smoke-zephyr>=1.0.2
SQLAlchemy>=1.0.11
termcolor>=1.1.0
tzlocal>=1.2
XlsxWriter>=0.7.7

# additional sphinx-specific requirements
docutils>=0.12
sphinx>=1.3.3
sphinxcontrib-domaintools>=0.1
sphinxcontrib-httpdomain>=1.4.0
