# this is a pip requirements file specifically for the ReadTheDocs environment
# because it can not install certain packages such as matplotlib
alembic>=0.6.7
boltons>=0.6.4
dnspython>=1.12.0
geoip2>=2.1.0
Jinja2>=2.7.3
markupsafe>=0.23
msgpack-python>=0.4.5
paramiko>=1.15.2
py2-ipaddress==3.4
PyYAML>=3.11
requests>=2.7.0
smoke-zephyr==1.0.1
SQLAlchemy>=1.0.2
termcolor>=1.1.
