BODY {
 font: 75%/150% Arial,Verdana,sans-serif; color: #2A2A2A; background: linear-gradient(#FFF 0%, #FFF 20px, rgba(255, 255, 255, 0) 200px) no-repeat scroll 0% 0%, transparent url("../images/bg-body.jpg") repeat scroll 0% 0%; padding-bottom: 15px;
}

header {
 width: 1024px; padding-top: 15px; display: block; margin-left: auto; margin-right: auto;
}

IMG.displayed {
 display: block; margin-right: auto; margin-bottom: 10px;
}

#container {
 height: 750px; padding: 0px 42px; margin: 0px auto; width: 940px; background: #FBFBFB none repeat scroll 0% 0%; border-radius: 4px 4px 0px 0px; box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

#page-heading {
 clear: both; padding-top: 50px;
}

.right-promo {
 border-width: 1px; border-style: solid; border-color: #DDD; width: 218px; background: #FFF none repeat scroll 0% 0%; float: right; color: #333; clear: both;
}

.right-promo aside {
 border-bottom: 1px solid #DDD; padding-top: 10px;
}

.right-promo aside, .right-promo aside.graybox {
 padding-bottom: 10px; padding-left: 10px; padding-right: 10px;
}

MENU, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
 display: block
}

#container .right-promo table input[type="text"], #container .right-promo table input[type="password"] {
 width: 120px
}

#InputContent {
 height: 92px; border-bottom: 0px none;
}

.content-slim-left {
 width: 698px; background: #FFF none repeat scroll 0% 0%; float: left;
}

.scroll-short {
 height: 225px
}

.content-slim-left .scrollable {
 position: relative; width: 698px; overflow: hidden;
}

#content-home, #product-head, #product-intro, .content-slim-left {
 margin-bottom: 20px
}

.scroll-short {
 height: 225px
}

#content, #content-home, #featured, #product-details, #product-intro, #top-accordion, .content-slim, .content-slim-left {
 border: 1px solid #DDD
}

footer#bottom {
 padding-bottom: 0px; margin: 0px auto; padding-left: 42px; width: 940px; padding-right: 42px; background: #868686 none repeat scroll 0% 0%; color: #FFF; clear: both; font-size: 85%; border-radius: 0px 0px 4px 4px; box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

footer#bottom DIV {
 padding: 7px 0px; margin: 0px auto; width: 940px; float: none;
}

footer#bottom UL#left {
 margin: 0px; float: left; color: #FFF;
}

footer#bottom UL#right {
 margin: 0px; float: right; color: #FFF;
}

.ocms-search-btn, INPUT, INPUT[type="submit"], nav#primary UL LI INPUT#submit {

}

.clear {
 clear: both
}

HR, UL.red-arrow LI, footer#bottom {
 border-width: 0px; border-style: none; border-color: -moz-use-text-color;
}

ABBR, ADDRESS, B, BLOCKQUOTE, BODY, CAPTION, CITE, CODE, DD, DEL, DFN, DIV, DL, DT, EM, FIELDSET, FORM, H1, H2, H3, H4, H5, H6, HTML, I, IFRAME, IMG, INS, KBD, LABEL, LEGEND, LI, MENU, OBJECT, OL, P, PRE, Q, SAMP, SMALL, SPAN, STRONG, SUB, SUP, TABLE, TBODY, TD, TFOOT, TH, THEAD, TR, UL, VAR, article, aside, audio, canvas, details, figcaption, figure, footer, hgroup, mark, nav, section, summary, time, video {
 border-width: 0px; border-style: none; border-color: -moz-use-text-color; padding: 0px; margin: 0px; outline-style: none; outline-width: 0px; background: transparent none repeat scroll 0px 0px; vertical-align: baseline;
}

